@import "../../variables";

.userDetails {
	height: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;

	.back {
		display: flex;
		align-items: center;
		font-weight: 500;
		position: absolute;
		top: 15px;
		left: 15px;

		&:hover {
			color: $font-color-dark;
			cursor: pointer;
		}

		svg {
			margin-right: 5px;
			fill: currentColor;
			width: 24px;
			height: 24px;
		}
	}

	.container-header-section {
		text-align: center;
		margin: 0 56px;

		.container-avatar {
			margin-top: 24px;

			.avatar {
				box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.15);
				border-radius: 50%;
				width: 100px;
				height: 100px;
				background: no-repeat center center;
				background-size: contain;
				margin: 0 auto;
			}
		}

		.name {
			display: block;
			margin-top: 8px;
			color: $font-color-dark;
			font-size: 32px;
			font-weight: 500;
		}

		.bio {
			color: $font-color-ligth;
			display: block;
			margin-top: 10px;
		}

		.container-email-follow {
			display: flex;
			align-items: center;
			margin-top: 10px;

			& > span {
				flex-grow: 1;
				text-align: center;
				padding: 5px 10px;
				margin: 0 5px;
				color: #fff;
				border-radius: 4px;
				font-weight: 500;
			}

			.email {
				background: $secondary-color;
			}

			.followers, .following {
				background: $primary-color;
			}
		}
	}

	.container-repos {
		width: 600px;
		height: auto;
		background-color: #fff;
		border-radius: 12px;
		box-shadow: 0 2px 8px rgba(81, 86, 229, .1);
		margin-left: 56px;
		margin-right: 56px;
		margin-bottom: 32px;
		margin-top: 32px;

		.title {
			padding: 20px 25px;
			padding-bottom: 0;
			display: block;
			font-weight: 500;
			font-size: 24px;
		}

		table {
			width: 100%;
			text-align: left;
			border-collapse: separate;
			border-spacing: 0;
			padding: 20px;

			thead {
				tr {
					th {
						font-weight: 500;
						text-align: left;
						border-bottom: 1px solid #e8e8e8;
						padding: 16px 16px;
						white-space: nowrap;
					}
				}
			}

			tbody {
				tr {
					&:hover td {
						background-color: rgba($primary-color, .1);
						cursor: pointer;
					}

					td {
						border-bottom: 1px solid #e8e8e8;
						padding: 16px 16px;
						white-space: nowrap;

						&.language {
							color: $secondary-color;
						}

						&.star {
							display: flex;
							align-items: center;
							color: #fadb14;

							svg {
								fill: currentColor;
								margin-right: 3px;
							}
						}
					}
				}
			}
		}
	}
}

@media screen and (max-width: 600px) {
	.userDetails {
		.back {
			span {
				display: none;
			}
		}

		.container-repos {
			width: 100%;
			margin-left: 0;
			margin-right: 0;
			margin-bottom: 0;

			.table-repos {
				overflow-x: auto;
			}
		}
	}
}