@import "../../variables";

.userDetails {
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;

	.back {
		display: flex;
		align-items: center;
		position: absolute;
		top: 15px;
		left: 15px;
		color: rgba(#fff, .8);
		z-index: 1002;

		&:hover {
			color: rgba(#fff, .6);
			cursor: pointer;
		}

		svg {
			margin-right: 5px;
			fill: currentColor;
			width: 24px;
			height: 24px;
		}
	}

	.container-header-section {
		width: 100%;
		padding: 50px 0;
		padding-bottom: 125px;
		background: no-repeat center center;
		background-size: cover;
		position: relative;

		&:after {
			bottom: -5px;
			box-shadow: inset 0px 4px 8px -3px rgba(17, 17, 17, 0.06);
			content: "";
			height: 5px;
			left: 0px;
			opacity: 1;
			pointer-events: none;
			position: absolute;
			right: 0px;
			width: 100%;
			z-index: 1000;
		}

		.section-info {
			display: flex;
			align-items: center;
			justify-content: center;

			.container-avatar {
				margin-right: 30px;

				.avatar {
					box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.15);
					border-radius: 50%;
					width: 150px;
					height: 150px;
					background: no-repeat center center;
					background-size: contain;
				}
			}

			.container-info {
				.name {
					display: block;
					color: #fff;
					font-size: 30px;
					font-weight: 500;
					text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
				}

				.email {
					padding-top: 5px;
					padding-bottom: 10px;
					display: flex;
					align-items: center;
    				justify-content: flex-start;

					& > span {
						color: #fff;
						background: $secondary-color;
						padding: 5px 10px;
						border-radius: 4px;
						font-weight: 500;
						box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.15);
					}
				}

				.followers, .following {
					display: block;
					color: rgba(#fff, .8);
					text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);

					& > strong {
						color: $primary-color;
					}
				}
			}
		}

		.bio {
			display: block;
			text-align: center;
			width: 600px;
			margin: 0 auto;
			margin-top: 50px;
			color: rgba(#fff, .8);
			font-size: 16px;
			text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
		}
	}

	.container-repos {
		width: 600px;
		height: auto;
		background-color: #fff;
		border-radius: 12px;
		box-shadow: 0 2px 8px rgba(81, 86, 229, .1);
		margin-bottom: 32px;
		position: relative;
		top: -100px;
		z-index: 1001;

		.header-repos {
			display: flex;
			align-items: center;
			padding: 20px 25px;
			padding-bottom: 0;

			.title {
				display: block;
				font-weight: 500;
				font-size: 24px;
				flex-grow: 1;
			}

			.order {
				display: flex;
				align-items: center;
				margin-left: 10px;

				.bt-change-order {
					display: flex;
					align-items: center;
					font-weight: 500;
					background-color: #fff;
					color: $primary-color;
					cursor: pointer;

					&:hover {
						color: darken($primary-color, 3%);
					}

					svg {
						flex-shrink: 0;
						fill: currentColor;
						margin-left: 5px;

						&.arrow {
							margin: 0;
						}
					}
				}
			}
		}

		table {
			width: 100%;
			text-align: left;
			border-collapse: separate;
			border-spacing: 0;
			padding: 20px;

			thead {
				tr {
					th {
						font-weight: 500;
						text-align: left;
						border-bottom: 1px solid #e8e8e8;
						padding: 16px 16px;
						white-space: nowrap;
					}
				}
			}

			tbody {
				tr {
					&:hover td {
						background-color: rgba($primary-color, .1);
						cursor: pointer;
					}

					&:last-child {
						td {
							border: none;
						}
					}

					td {
						border-bottom: 1px solid #e8e8e8;
						padding: 16px 16px;
						white-space: nowrap;

						&.language {
							color: $secondary-color;
						}

						&.star {
							display: flex;
							align-items: center;
							color: #fadb14;

							svg {
								fill: currentColor;
								margin-right: 3px;
							}
						}
					}
				}
			}
		}

		.not-found-repos {
			padding: 20px 0;
			text-align: center;
			margin: 65px 0;
		}
	}
}

@media screen and (max-width: 420px) {
	.userDetails {
		.container-repos {
			.header-repos {
				.order {
					.bt-change-order {
						& > span {
							display: none;
						}
					}
				}
			}
		}
	}
}

@media screen and (max-width: 600px) {
	.userDetails {
		.back {
			span {
				display: none;
			}
		}

		.container-header-section {
			.section-info {
				display: block;

				.container-avatar {
					margin: 0;

					.avatar {
						margin: 0 auto;
						margin-bottom: 10px;
					}
				}

				.container-info {
					text-align: center;

					.email {
						justify-content: center;
					}
				}
			}

			.bio {
				width: calc(100% - 30px);
				margin-left: 15px;
				margin-right: 15px;
				margin-top: 30px;
			}
		}

		.container-repos {
			width: 100%;
			margin-left: 0;
			margin-right: 0;
			margin-bottom: 0;

			.table-repos {
				overflow-x: auto;
			}
		}
	}
}