@import "variables";

*, *::before, *::after {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

html, body {
	width: 100%;
	height: 100%;
}

body {
	overflow-x: hidden;
	font-family: $primary-font;
	font-size: $font-size-base;
	color: $font-color;
	line-height: 1.5;
	background: $bg-color-page;
	padding: 0;
	margin: 0;
}