.errorState {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    img {
        max-width: 400px;
        margin-bottom: 30px;
        flex-shrink: 0;
    }

    span {
        flex-shrink: 0;
        font-weight: 500;
    }
}